*{
 background :hsl(0, 0%, 100%);
}
body{
  justify-content: center;
}
.rectangle1{position: absolute;
width: 360px;
height: 24px;
left: 0px;
top: 0px;

background: #F8F9FA;
}
.icon i{
  margin-left: 50px;
  margin-top: 50px;
  width: 20px;

}
.img{
 position: absolute;
width: 360px;
height: 236px;
left: 0px;
top: 24px;
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(file:///C:/Users/Lenovo/Downloads/rectangle.jpg);
}
h2{
 position: absolute;
 width: 179px;
 height: 22px;
 left: 16px;
 top: 150px;
font-weight:bold;
 
 font-family: IBM Plex Sans;
 font-style: normal;
 font-weight: bold;
 font-size: 17px;
 line-height: 22px;
 color: #FFFFFF;
 
background:transparent;
}
.img p{
 position: absolute;
width: 250px;
height: 16px;
left:2px;
top: 20px;
background:transparent;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height */


color: #FFFFFF;

}

.img a{
 position: absolute;
 width: 76px;
 height: 28px;
 left: 266px;
 top: 38px;
 color: #FFFFFF;
 border: 0.8px solid #FFFFFF;
 box-sizing: border-box;
 border-radius: 4px;
 background: transparent;
 font-weight: bold;
 text-decoration: none;
 }

 .rectangle2 a
 {
 position: absolute;
 width: 100px;
 height: 25px;
 left: 236px;
 top: -50px;
 background: #F1F3F5;;
 border-radius: 4px;
color: black;
text-decoration: none;
border: 1px solid gray;
padding-top: 10px;
 }
 .rectangle2
 {
  position: absolute;
  width: 360px;
  height: 120px;
  left: 0px;
  top: 326px;
  background: url(file:///C:/Users/Lenovo/Downloads/tree.jpg), #C4C4C4;
 }
 .rectangle2 h2
 {
  position: absolute;
width: 73px;
height: 18px;
left: 16px;
top: -50px;
color: #212529;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.01em;
font-weight:bold;

 }
 .rectangle2 input{
  font-weight: 500;
  left: 246px;
font-style: normal;
font-size: 13px;
line-height: 17px;
position: absolute;
font-family: IBM Plex Sans;

width: 80px;
top: -50px;
border-radius: 5px;
text-align: left;
color: #212529;
font-weight:bold;
 }

.article{
  position: absolute;
  width: 60px;
  height: 19px;
  left: 16px;
  top: 460px;
  
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  
  
  color: #000000;
  
  
}

.text p1{
  position: absolute;
width: 280px;
height: 42px;
left: 16px;
top: 490px;
/* font-family: IBM Plex Sans; */
/* font-style: normal; */
font-weight: 800;
font-size: 17px;
line-height: 21px;
color: #212529;
}
.text p2{
  position: absolute;
width: 310px;
height: 18px;
left: 16px;
top: 537px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #495057;
}

.pic img{
  margin-top: 580px;
  height: 40px;
  margin-left: 10px;
}
.user-name{
position: absolute;
width: 91px;
height: 17px;
left: 65px;
top: 590px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 17px;
/* identical to box height */
color: #212529;
}
.user-name p{
  margin-top: 3px;
font-weight: lighter;}
.share-button a{
  position: absolute;
width: 70px;
height: 30px;
left: 272px;
top: 577px;
background: #F1F3F5;
font-family: "montserrat",sans-serif;
border-radius: 5px;
align-items: center;
font-size: 15px;
text-decoration: none;
color: black;
border: 1px solid gray;
padding-top: 5px;
}
