.container{
 position: absolute;
width: 360px;
height: 462px;
left: 0px;
top: 178px;
box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
border-radius: 8px 8px 0px 0px;
}
.container p{
position: absolute;
width: 150px;
height: 23px;
left: 20px;
top: 10px;

/* font-family: IBM Plex Sans; */
font-style: normal;
font-weight:bold;
font-weight: 700;
font-size: 21px;
line-height: 23px;

color:#000000;
}
.first-name input{
 position: absolute;
width: 145px;
height: 40px;
left: 20px;
top: 70px;
font-style: normal;
font-weight: 500;
font-size: 14px;
border: 1px solid gray;
line-height: 16px;
padding-left: 10px;
color:black;
background-color: #F7F8FA;
}
.last-name input{
 position: absolute;
width: 145px;
height: 40px;
left: 180px;
top: 70px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
border: 1px solid gray;
line-height: 16px;
padding-left: 10px;
color: black;
background-color: #F7F8FA;
}
.email input{
 position: absolute;
width: 320px;
height: 40px;
left: 20px;
top: 116px;
border: 1px solid gray;
box-sizing: border-box;
font-size: 14px;
border-radius: 0px 0px 2px 2px;
padding-left: 10px;
background-color: #F7F8FA;
}
.password input{
 position: absolute;
width: 320px;
height: 40px;
left: 20px;
top: 157px;
background: #F7F8FA;
border: 1px solid gray;
box-sizing: border-box;
padding-left: 10px;
font-size: 14px;
border-radius: 0px 0px 2px 2px;
background-color: #F7F8FA;
}
.confirm-password input{
 position: absolute;
width: 320px;
height: 40px;
left: 20px;
top: 198px;
background: #F7F8FA;
border: 1px solid gray;
box-sizing: border-box;
border-radius: 0px 0px 2px 2px;
padding-left: 10px;
font-size: 14px;
background-color: #F7F8FA;
}
.create-account button a{
 position: absolute;
width: 150px;
height: 34px;
left: 20px;
top: 260px;
text-decoration: none;
background: #2F6CE5;
border-radius: 20px;
color: white;
text-align: center;
font-size: 13px;
font-weight: 600;
padding-top: 10px;
}
.sign-in a{
 position: absolute;
width: 60px;
height: 17px;
left: 280px;
top: 275px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 17px;
text-align: center;
text-decoration-line: underline;
color: black;
}
.facebook a{
 position: absolute;
width: 320px;
height: 38px;
left: 20px;
top: 320px;
background: #FFFFFF;
border: 0.6px solid gray;
box-sizing: border-box;
border-radius: 2px;
text-decoration: none;
color: black;
font-weight:500;
font-size: 14px;
padding-top: 10px;
}
.google a{
 position: absolute;
width: 320px;
height: 38px;
left: 20px;
top:370px;
font-weight: 500;
background: #FFFFFF;
border: 0.6px solid gray;
box-sizing: border-box;
border-radius: 2px;
padding-top: 10px;
font-size: 14px;
text-decoration: none;
color: black;
}
.text p{
 position: absolute;
width: 240px;
height: 32px;
left: 57px;
top: 405px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 16px;
text-align: center;
letter-spacing: -0.008em;

color: #212529;

}