.container{
 position: absolute;
width: 360px;
height: 462px;
left: 0px;
top: 178px;
box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
border-radius: 8px 8px 0px 0px;
justify-content: center;

}
.container p{
position: absolute;
width: 150px;
height: 23px;
left: 20px;
top: 10px;

/* font-family: IBM Plex Sans; */
font-style: normal;
font-weight:bold;
font-weight: 700;
font-size: 21px;
line-height: 23px;

color:#000000;
}
.email input{
 position: absolute;
width: 320px;
height: 40px;
left: 20px;
top: 90px;
background: #F7F8FA;
border: 1px solid gray;
box-sizing: border-box;
font-size: 14px;
padding-left: 10px;
background-color: #F7F8FA;
}
.password input{
 position: absolute;
width: 320px;
height: 40px;
left: 20px;
top: 131px;
background: #F7F8FA;
border: 1px solid gray;
box-sizing: border-box;
padding-left: 10px;
font-size: 14px;
background-color: #F7F8FA;
}
.sign-in button a{
 position: absolute;
width: 150px;
height: 34px;
left: 20px;
top: 190px;
text-decoration: none;
background: #2F6CE5;
border-radius: 20px;
color: white;
text-align: center;
font-size: 13px;
font-weight: 600;
padding-top: 10px;
}
.create-account a{
 position: absolute;
width: 100px;
height: 17px;
left: 240px;
top: 200px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 17px;
text-align: center;
text-decoration-line: underline;
color: black;
}
.facebook a{
 position: absolute;
width: 320px;
height: 38px;
left: 20px;
top: 260px;
background: #FFFFFF;
border: 0.6px solid gray;
box-sizing: border-box;
border-radius: 2px;
text-decoration: none;
color: black;
font-weight:500;
font-size: 14px;
padding-top: 10px;
}
.google a{
 position: absolute;
width: 320px;
height: 38px;
left: 20px;
top:320px;
font-weight: 500;
background: #FFFFFF;
border: 0.6px solid gray;
box-sizing: border-box;
border-radius: 2px;
padding-top: 10px;
font-size: 14px;
text-decoration: none;
color: black;
}
.forgot-password{
 position: absolute;
width: 240px;
height: 16px;
left: 57px;
top: 400px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 145% */

text-align: center;
letter-spacing: -0.008em;

color: #212529;
}